@model List<DynamicConfiguration.Data.Model.Configuration>
@{
    ViewData["Title"] = "Home Page";
}

<br/>

<div>

    <table id="table" data-page-list="[5,10,20,50,100,All]" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Value</th>
                <th>IsActive</th>
                <th>ApplicationName</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Type</td>
                    <td>@item.Value</td>
                    <td>@item.IsActive</td>
                    <td>@item.ApplicationName</td>
                </tr>
            }

        </tbody>
    </table>

</div>
